<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>Gym</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>ControllerAdminIndex</servlet-name>
    <servlet-class>controller.ControllerAdminIndex</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerAdminIndex</servlet-name>
    <url-pattern>/admin/index</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ControllerAdminIndexUsers</servlet-name>
    <servlet-class>controller.ControllerAdminIndexUsers</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerAdminIndexUsers</servlet-name>
    <url-pattern>/admin/indexUsers</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ControllerAdminAddUsers</servlet-name>
    <servlet-class>controller.ControllerAdminAddUsers</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerAdminAddUsers</servlet-name>
    <url-pattern>/admin/addUsers</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ControllerAdminDeleteUsers</servlet-name>
    <servlet-class>controller.ControllerAdminDeleteUsers</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerAdminDeleteUsers</servlet-name>
    <url-pattern>/admin/deleteUsers</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ControllerAdminEditUsers</servlet-name>
    <servlet-class>controller.ControllerAdminEditUsers</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerAdminEditUsers</servlet-name>
    <url-pattern>/admin/editUsers</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ControllerAdminSearchUsers</servlet-name>
    <servlet-class>controller.ControllerAdminSearchUsers</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerAdminSearchUsers</servlet-name>
    <url-pattern>/admin/searchUsers</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ControllerAdminIndexTraining</servlet-name>
    <servlet-class>controller.ControllerAdminIndexTraining</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerAdminIndexTraining</servlet-name>
    <url-pattern>/admin/indexTraining</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ControllerAdminAddTraining</servlet-name>
    <servlet-class>controller.ControllerAdminAddTraining</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerAdminAddTraining</servlet-name>
    <url-pattern>/admin/addTraining</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ControllerAdminEditTraining</servlet-name>
    <servlet-class>controller.ControllerAdminEditTraining</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerAdminEditTraining</servlet-name>
    <url-pattern>/admin/editTraining</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ControllerAdminDeleteTraining</servlet-name>
    <servlet-class>controller.ControllerAdminDeleteTraining</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerAdminDeleteTraining</servlet-name>
    <url-pattern>/admin/deleteTraining</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ControllerAdminIndexRegister</servlet-name>
    <servlet-class>controller.ControllerAdminIndexRegister</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerAdminIndexRegister</servlet-name>
    <url-pattern>/admin/indexRegister</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ControllerAdminAjaxRegister</servlet-name>
    <servlet-class>controller.ControllerAdminAjaxRegister</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerAdminAjaxRegister</servlet-name>
    <url-pattern>/admin/ajaxRegister</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ControllerAdminSearchRegister</servlet-name>
    <servlet-class>controller.ControllerAdminSearchRegister</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerAdminSearchRegister</servlet-name>
    <url-pattern>/admin/searchRegister</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ControllerAdminEditRegister</servlet-name>
    <servlet-class>controller.ControllerAdminEditRegister</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerAdminEditRegister</servlet-name>
    <url-pattern>/admin/editRegister</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ControllerAdminDeleteRegister</servlet-name>
    <servlet-class>controller.ControllerAdminDeleteRegister</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerAdminDeleteRegister</servlet-name>
    <url-pattern>/admin/deleteRegister</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ControllerAdminIndexIntroduce</servlet-name>
    <servlet-class>controller.ControllerAdminIndexIntroduce</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerAdminIndexIntroduce</servlet-name>
    <url-pattern>/admin/indexIntroduce</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ControllerAdminAddIntroduce</servlet-name>
    <servlet-class>controller.ControllerAdminAddIntroduce</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerAdminAddIntroduce</servlet-name>
    <url-pattern>/admin/addIntroduce</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ControllerAdminDeleteIntroduce</servlet-name>
    <servlet-class>controller.ControllerAdminDeleteIntroduce</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerAdminDeleteIntroduce</servlet-name>
    <url-pattern>/admin/deleteIntroduce</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ControllerAdminEditIntroduce</servlet-name>
    <servlet-class>controller.ControllerAdminEditIntroduce</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerAdminEditIntroduce</servlet-name>
    <url-pattern>/admin/editIntroduce</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ControllerAdminSearchIntroduce</servlet-name>
    <servlet-class>controller.ControllerAdminSearchIntroduce</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerAdminSearchIntroduce</servlet-name>
    <url-pattern>/admin/searchIntroduce</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ControllerAdminIndexNews</servlet-name>
    <servlet-class>controller.ControllerAdminIndexNews</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerAdminIndexNews</servlet-name>
    <url-pattern>/admin/indexNews</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ControllerAdminEditNews</servlet-name>
    <servlet-class>controller.ControllerAdminEditNews</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerAdminEditNews</servlet-name>
    <url-pattern>/admin/editNews</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ControllerAdminAddNews</servlet-name>
    <servlet-class>controller.ControllerAdminAddNews</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerAdminAddNews</servlet-name>
    <url-pattern>/admin/addNews</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ControllerAdminDeleteNews</servlet-name>
    <servlet-class>controller.ControllerAdminDeleteNews</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerAdminDeleteNews</servlet-name>
    <url-pattern>/admin/deleteNews</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ControllerAdminSearchNews</servlet-name>
    <servlet-class>controller.ControllerAdminSearchNews</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerAdminSearchNews</servlet-name>
    <url-pattern>/admin/searchNews</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ControllerAdminIndexExcercises</servlet-name>
    <servlet-class>controller.ControllerAdminIndexExcercises</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerAdminIndexExcercises</servlet-name>
    <url-pattern>/admin/indexExcercises</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ControllerAdminAddExcercises</servlet-name>
    <servlet-class>controller.ControllerAdminAddExcercises</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerAdminAddExcercises</servlet-name>
    <url-pattern>/admin/addExcercises</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ControllerAdminEditExcercises</servlet-name>
    <servlet-class>controller.ControllerAdminEditExcercises</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerAdminEditExcercises</servlet-name>
    <url-pattern>/admin/editExcercises</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ControllerAdminDeleteExcercises</servlet-name>
    <servlet-class>controller.ControllerAdminDeleteExcercises</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerAdminDeleteExcercises</servlet-name>
    <url-pattern>/admin/deleteExcercises</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ControllerAdminSearchExcercises</servlet-name>
    <servlet-class>controller.ControllerAdminSearchExcercises</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerAdminSearchExcercises</servlet-name>
    <url-pattern>/admin/searchExcercises</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ControllerAdminIndexProduct</servlet-name>
    <servlet-class>controller.ControllerAdminIndexProduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerAdminIndexProduct</servlet-name>
    <url-pattern>/admin/indexProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ControllerAdminAddProduct</servlet-name>
    <servlet-class>controller.ControllerAdminAddProduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerAdminAddProduct</servlet-name>
    <url-pattern>/admin/addProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ControllerAdminEditProduct</servlet-name>
    <servlet-class>controller.ControllerAdminEditProduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerAdminEditProduct</servlet-name>
    <url-pattern>/admin/editProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ControllerAdminDeleteProduct</servlet-name>
    <servlet-class>controller.ControllerAdminDeleteProduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerAdminDeleteProduct</servlet-name>
    <url-pattern>/admin/deleteProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ControllerAdminSearchProduct</servlet-name>
    <servlet-class>controller.ControllerAdminSearchProduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerAdminSearchProduct</servlet-name>
    <url-pattern>/admin/searchProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ControllerAdminAjaxProduct</servlet-name>
    <servlet-class>controller.ControllerAdminAjaxProduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerAdminAjaxProduct</servlet-name>
    <url-pattern>/admin/ajaxProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ControllerAdminIndexPayments</servlet-name>
    <servlet-class>controller.ControllerAdminIndexPayments</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerAdminIndexPayments</servlet-name>
    <url-pattern>/admin/indexPayments</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ControllerAdminAddPayments</servlet-name>
    <servlet-class>controller.ControllerAdminAddPayments</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerAdminAddPayments</servlet-name>
    <url-pattern>/admin/addPayments</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ControllerAdminEditPayments</servlet-name>
    <servlet-class>controller.ControllerAdminEditPayments</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerAdminEditPayments</servlet-name>
    <url-pattern>/admin/editPayments</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ControllerAdminDeletePayments</servlet-name>
    <servlet-class>controller.ControllerAdminDeletePayments</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerAdminDeletePayments</servlet-name>
    <url-pattern>/admin/deletePayments</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ControllerAdminIndexBill</servlet-name>
    <servlet-class>controller.ControllerAdminIndexBill</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerAdminIndexBill</servlet-name>
    <url-pattern>/admin/indexBill</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ControllerAdminAjaxTranfer</servlet-name>
    <servlet-class>controller.ControllerAdminAjaxTranfer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerAdminAjaxTranfer</servlet-name>
    <url-pattern>/admin/ajaxTranfer</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ControllerAdminAjaxShip</servlet-name>
    <servlet-class>controller.ControllerAdminAjaxShip</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerAdminAjaxShip</servlet-name>
    <url-pattern>/admin/ajaxShip</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ControllerAdminSearchBill</servlet-name>
    <servlet-class>controller.ControllerAdminSearchBill</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerAdminSearchBill</servlet-name>
    <url-pattern>/admin/searchBill</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ControllerAdminDeleteBill</servlet-name>
    <servlet-class>controller.ControllerAdminDeleteBill</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerAdminDeleteBill</servlet-name>
    <url-pattern>/admin/deleteBill</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ControllerAdminIndexDetailBill</servlet-name>
    <servlet-class>controller.ControllerAdminIndexDetailBill</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerAdminIndexDetailBill</servlet-name>
    <url-pattern>/admin/detailBill</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ControllerAdminLogin</servlet-name>
    <servlet-class>controller.ControllerAdminLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerAdminLogin</servlet-name>
    <url-pattern>/admin/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ControllerIndex</servlet-name>
    <servlet-class>controller.ControllerIndex</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerIndex</servlet-name>
    <url-pattern>/index</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ControllerIndexIntroduce</servlet-name>
    <servlet-class>controller.ControllerIndexIntroduce</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerIndexIntroduce</servlet-name>
    <url-pattern>/indexIntroduce</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ControllerIndexNews</servlet-name>
    <servlet-class>controller.ControllerIndexNews</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerIndexNews</servlet-name>
    <url-pattern>/indexNews</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ControllerIndexExcercises</servlet-name>
    <servlet-class>controller.ControllerIndexExcercises</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerIndexExcercises</servlet-name>
    <url-pattern>/indexExcercises</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ControllerDetailIntroduces</servlet-name>
    <servlet-class>controller.ControllerDetailIntroduces</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerDetailIntroduces</servlet-name>
    <url-pattern>/detailIntroduces</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ControllerDetailNews</servlet-name>
    <servlet-class>controller.ControllerDetailNews</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerDetailNews</servlet-name>
    <url-pattern>/detailNews</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ControllerDetailExcercises</servlet-name>
    <servlet-class>controller.ControllerDetailExcercises</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerDetailExcercises</servlet-name>
    <url-pattern>/detailExcercises</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ControllerLogin</servlet-name>
    <servlet-class>controller.ControllerLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerLogin</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ControllerLogout</servlet-name>
    <servlet-class>controller.ControllerLogout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerLogout</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ControllerRegister</servlet-name>
    <servlet-class>controller.ControllerRegister</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerRegister</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ControllerEditUsers</servlet-name>
    <servlet-class>controller.ControllerEditUsers</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerEditUsers</servlet-name>
    <url-pattern>/editUsers</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ControllerRegisterTrainning</servlet-name>
    <servlet-class>controller.ControllerRegisterTrainning</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerRegisterTrainning</servlet-name>
    <url-pattern>/registerTrainning</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ControllerIndexProduct</servlet-name>
    <servlet-class>controller.ControllerIndexProduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerIndexProduct</servlet-name>
    <url-pattern>/indexProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ControllerSearchProduct</servlet-name>
    <servlet-class>controller.ControllerSearchProduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerSearchProduct</servlet-name>
    <url-pattern>/searchProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ControllerDetailProduct</servlet-name>
    <servlet-class>controller.ControllerDetailProduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerDetailProduct</servlet-name>
    <url-pattern>/detailProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ControllerAjaxBuyProduct</servlet-name>
    <servlet-class>controller.ControllerAjaxBuyProduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerAjaxBuyProduct</servlet-name>
    <url-pattern>/ajaxBuyProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ControllerCheckLoginBuyProduct</servlet-name>
    <servlet-class>controller.ControllerCheckLoginBuyProduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerCheckLoginBuyProduct</servlet-name>
    <url-pattern>/checkLoginBuyProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ControllerIndexCart</servlet-name>
    <servlet-class>controller.ControllerIndexCart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerIndexCart</servlet-name>
    <url-pattern>/indexCart</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ControllerEditCart</servlet-name>
    <servlet-class>controller.ControllerEditCart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerEditCart</servlet-name>
    <url-pattern>/editCart</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ControllerPay</servlet-name>
    <servlet-class>controller.ControllerPay</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerPay</servlet-name>
    <url-pattern>/pay</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ControllerPay2</servlet-name>
    <servlet-class>controller.ControllerPay2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerPay2</servlet-name>
    <url-pattern>/pay2</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ControllerPay3</servlet-name>
    <servlet-class>controller.ControllerPay3</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerPay3</servlet-name>
    <url-pattern>/pay3</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ControllerPay4</servlet-name>
    <servlet-class>controller.ControllerPay4</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerPay4</servlet-name>
    <url-pattern>/pay4</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ControllerEndPay</servlet-name>
    <servlet-class>controller.ControllerEndPay</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerEndPay</servlet-name>
    <url-pattern>/endPay</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ControllerAdminAjaxMember</servlet-name>
    <servlet-class>controller.ControllerAdminAjaxMember</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerAdminAjaxMember</servlet-name>
    <url-pattern>/admin/activeMember</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ControllerAdminAjaxTraining</servlet-name>
    <servlet-class>controller.ControllerAdminAjaxTraining</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerAdminAjaxTraining</servlet-name>
    <url-pattern>/admin/activeTraining</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ControllerAdminSearchTraining</servlet-name>
    <servlet-class>controller.ControllerAdminSearchTraining</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerAdminSearchTraining</servlet-name>
    <url-pattern>/admin/searchTraining</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ControllerAdminIndexMember</servlet-name>
    <servlet-class>controller.ControllerAdminIndexMember</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerAdminIndexMember</servlet-name>
    <url-pattern>/admin/indexMember</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ControllerAdminAddHistoryMember</servlet-name>
    <servlet-class>controller.ControllerAdminAddHistoryMember</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerAdminAddHistoryMember</servlet-name>
    <url-pattern>/admin/addHistoryMember</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ControllerAdminViewHistory</servlet-name>
    <servlet-class>controller.ControllerAdminViewHistory</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerAdminViewHistory</servlet-name>
    <url-pattern>/admin/viewHistory</url-pattern>
  </servlet-mapping>
    <servlet>
    <servlet-name>ControllerAdminReloadRegister</servlet-name>
    <servlet-class>controller.ControllerAdminReloadRegister</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerAdminReloadRegister</servlet-name>
    <url-pattern>/admin/reloadRegister</url-pattern>
  </servlet-mapping>
</web-app>